html,
body {
  height: 100%;
  background-color: #1e90ff;
  font-family: sans-serif;
}

.bigbox {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pinkbox {
  background-color: #ff6b81;
  width: 10%;
  height: 20%;
}

.greybox {
  background-color: #d8d8d8;
  width: 2.5%;
  height: 5%;
  flex-direction: row-reverse;
  border: 5px solid #ff6b81;
  position: relative;
  left: 0%;
  bottom: 19%;
}

.greybox:nth-child(3):hover {
  background-color: red;
}
